<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtlckr.manifestcar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManifestCar">
        <activity
            android:name=".SearchCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".TechnicalServicesActivity"
            android:exported="false" />
        <activity
            android:name=".PrivateServicesActivity"
            android:exported="false" />
        <activity
            android:name=".ShopCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".RoadAssistanceCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".ParkingCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".FailureCarsCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>